.page {
  display: flex;
  min-height: 100vh;
  background-color: var(--pink);
  align-items: center;
  justify-content: center;
  color: var(--purple-light);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 50px;
  width: 85%;
  padding: 50px;
}

.icon {
  display: inline-block;
  font-size: 4rem;
}

.title {
  font-size: 24px;
  letter-spacing: 0.02em;
}

.greeting {
  font-size: 16px;
  align-self: flex-end;
}

.swirl {
  position: absolute;

  &[data-position="top-left"] {
    top: 0;
    left: 0;
  }

  &[data-position="top-right"] {
    top: 0;
    right: 0;
    transform: rotate(90deg);
  }

  &[data-position="bottom-left"] {
    bottom: 0;
    left: 0;
    transform: rotate(270deg);
  }

  &[data-position="bottom-right"] {
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
  }
}