.page {
  display: flex;
  min-height: 100vh;
  background-color: var(--pink);
  align-items: center;
  justify-content: center;
  color: var(--purple-light);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 50px;
  width: 85%;
  padding: 50px;
}

.icon {
  display: inline-block;
  font-size: 4rem;
}

.title {
  font-size: 24px;
  letter-spacing: 0.02em;
}

.greeting {
  font-size: 16px;
  align-self: flex-end;
}

.swirl {
  height: auto;
  width: 200px;
  fill: var(--purple-light);
  stroke-width: 0.1px;
  stroke: var(--text-light);
  filter: drop-shadow(0 2px 16px rgba(245, 184, 255, 0.10));
}