.page {
  display: flex;
  min-height: 100vh;
  background: url('../assets/images/background.png') no-repeat center center;
  background-size: cover;
  align-items: center;
  justify-content: center;
  color: var(--text-light);
  position: relative;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: min(100%, 1440px);
  position: relative;
  padding: 30px;
  z-index: 1;
}

.crystalBall {
  height: auto;
  width: min(50%, 250px);
}

.title {
  font-size: clamp(2.25rem, 1.6786rem + 2.8571vw, 4.25rem);
  letter-spacing: 0.02em;
}

.swirl {
  width: min(50%, 400px);
  height: auto;
  fill: var(--purple);
  opacity: 0.4;
  stroke-width: 0.1px;
  stroke: var(--text-light);
  filter: drop-shadow(0 2px 16px rgba(245, 184, 255, 0.10));
}