.title {
  font-size: clamp(2.25rem, 1.6786rem + 2.8571vw, 4.25rem);
  letter-spacing: 0.02em;

  &[data-loading="true"] {
    animation: glow 2s linear infinite alternate;
  }
}

.form {
  font-family: var(--font-family-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  width: 100%;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 650px;
  border: 1px solid var(--purple-light);
  border-radius: 50px;
  padding: 0.5em 0.5em 0.5em 2em;

  &:focus-within {
    border-color: var(--pink);
  }
}

.input {
  border: none;
  background-color: transparent;
  font-size: clamp(1.125rem, 0.7321rem + 1.9643vw, 2.5rem);
  color: var(--text-light);
  width: 100%;

  &:focus-visible {
    outline: none;

    &::placeholder {
      visibility: hidden;
    }
  }

  &::placeholder {
    color: var(--text-light);
  }
}

.inputIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--purple-dark);
  border-radius: 50%;
  background-image: url("../../assets/images/support-icon.svg");
  background-size: 75% 75%;
  background-repeat: no-repeat;
  background-position: center;
  width: 56px;
  height: 56px;
  flex-shrink: 0;

  &::after {
    content:  "";
    background-image: url("../../assets/images/support-circle.svg");
    background-size: 75% 75%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
  }

  &[data-loading="true"]::after {
    animation: spin 10s linear infinite;
  }
}

.buttonContainer {
  display: grid;
  grid-template-areas: "button button" "cards eye";
  row-gap: 30px;
  align-items: center;
  justify-items: center;
  width: 100%;

  @media (min-width: 768px) {
    grid-template-areas: "cards button eye";
  }
}

.button {
  grid-area: button;
  justify-self: stretch;
}

.cards {
  width: min(100%, 300px);
  height: auto;
  grid-area: cards;
}

.eye {
  width: min(100%, 300px);
  height: auto;
  grid-area: eye;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes glow {
  0% {
    text-shadow: 0 0 10px color-mix(in srgb, var(--pink) 50%, transparent);
  }
  100% {
    text-shadow: 0 0 50px color-mix(in srgb, var(--pink) 100%, transparent);
  }
}