@font-face {
  font-family: "Bradford LL";
  src: url("../fonts/BradfordLLWeb-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Suisse Intl";
  src: url("../fonts/SuisseIntl-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Suisse Intl";
  src: url("../fonts/SuisseIntl-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}


:root {
  --font-bradford-ll: "Bradford LL", serif;
  --font-suisse-intl: "Suisse Intl", serif;
  --font-family-primary: var(--font-bradford-ll);
}